;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[bidi "2.1.6"]
  [binaryage/devtools "1.0.2"]
  [day8.re-frame/re-frame-10x "0.6.5"]
  [day8.re-frame/http-fx "v0.2.0"]
  [re-frame "0.12.0"]
  [reagent "0.10.0"]
  [venantius/accountant "0.2.5"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [todo-app.core]}}

        :compiler-options
        {:closure-defines
         {"re_frame.trace.trace_enabled_QMARK_" true}}

        :devtools
        {:http-root "public"
         :http-port 8080
         :preloads [devtools.preload
                    day8.re-frame-10x.preload]}

        :release
        {:output-dir "dist/js"
         :closure-defines {todo-app.config/API_URL "<production api url>"}}}}}
