{:duct.profile/base
 {:duct.core/project-ns todo-api

  :todo-api.handler.todo/list-todos {:db #ig/ref :duct.database/sql}
  :todo-api.handler.todo/create-todo {:db #ig/ref :duct.database/sql}
  :todo-api.handler.todo/fetch-todo {:db #ig/ref :duct.database/sql}
  :todo-api.handler.todo/delete-todo {:db #ig/ref :duct.database/sql}
  :todo-api.handler.todo/update-todo {:db #ig/ref :duct.database/sql}

  :todo-api.middleware/wrap-cors
  {:access-control-allow-origin [#todo-api/regex ".*"]
   :access-control-allow-methods [:get :put :post :delete]}

  :duct.handler/root
  {:middleware [#ig/ref :todo-api.middleware/wrap-cors]}

  :duct.migrator/ragtime
  {:migrations #ig/ref :duct.migrator.ragtime/resources}
  :duct.migrator.ragtime/resources
  {:path "migrations"}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/ataraxy
 {"/todos"
  {:get [:todo/list-todos]
   [:post {todo :body-params}] [:todo/create-todo todo]
   ["/" todo-id]
   {:get [:todo/fetch-todo ^int todo-id]
    :delete [:todo/delete-todo ^int todo-id]
    [:put {todo :body-params}] [:todo/update-todo ^int todo-id todo]}}}
 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}}
